<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Wrekt.gg | Stats for {{summonerId}}</title>
  <meta name="description" content="Homepage - Wrekt.gg">
  <meta name="author" content="Mahuta Hoerara-Smith">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/animation.css">
  <script href="js/index.js"></script>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/index.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-third.column" id="homeDescription1"style="margin-top: 10%">+
        <script type="text/template"></script>
        <h1>Welcome {{summonerId}}</h1>
        <br>
        <h2>Welcome {{summonerId}}, These are your current stats:</h2>
      </div>
        <br>
      <td>
      </td>
      <div class="two-thirds.column" id="homeDescription2"style="margin-top: 25%">
        <br>
        <fieldset>
          <form>Enter your summoner name:<br>
            <input type="text" name="summonerName"></input>
            <br>
            <input type="submit" value="Submit"></input>
          </form>
        </fieldset>
        <br>
        <fieldset>
          <table>
            <h5>Hello {{summonerName}}, youre rank is {{tier}} - {{division}} </h5>
            <br>
            <h5>Win rate: {{wins}} / {{losses}}</h5>
          </table>
        </fieldset>
      </div>
    </div>
  </div>
</body>
</html>
Made by Mahuta Hoerara-Smith, in partnership with Riot Games 2016
